* {
    box-sizing: border-box;
}

header {
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(rgb(40, 42, 53, 0.90), rgb(40, 42, 53, 0.90)),
        url('../images/car-me.jpg');
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 900px;
}


h2 {
    color: rgba(255, 192, 1, 0.926);
}

.stat {
    background: transparent;
    margin-bottom: 20px;
    border-radius: 0;
}


body {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    overflow-x: hidden;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 25px;
}

.logo {
    width: 50px;
}

.navbar-toggler {
    width: 100px;
    border-radius: 20px;
    border-style: none;
    background-color: #008181;
    color: #FFFFFF;
}

.navbar-toggle {
    width: 80px;
    border-radius: 13px;
    border-style: none;
    background-color: #008181;
    color: #FFFFFF;
    height: 30px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.role {
    display: flex;
    justify-content: center;
    align-items: center;
}

.role2 {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: 200px;
}

.role2 span {
    color: rgba(255, 192, 1, 0.926);
    font-size: 50px;
}

.role span {
    color: rgba(255, 192, 1, 0.926);
    font-size: 30px;
}

.how {
    display: flex;
    width: 200px;
    color: #008181;
}

.container-fluid-px-0 {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 40px;
    flex: 1;
    justify-content: space-between;
}

.create-wrap {
    display: flex;
    flex-direction: row;
    flex: 1;

}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: linear-gradient(rgb(40, 42, 53, 0.90), rgb(40, 42, 53, 0.90)),
        url('../images/water-side.jpg');
    flex: 1;
}

.col div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
}

.everything {
    font-size: 20px;
    color: #FFFFFF;
    font-weight: bold;
}

.create {
    font-size: 65px;
    color: #FFFFFF;
    font-weight: bold;
}

.col p {
    color: #FFFFFF;
}

p span {
    color: rgba(255, 192, 1, 0.926);
    font-weight: bold;
}

.get {
    border-radius: 50px;
    width: 250px;
    height: 60px;
    border: 2px solid rgb(0, 100, 0);
    background-color: rgba(255, 192, 1, 0.926);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
}

.img-fluid {
    width: 350px;
    height: 550px;
}

.smile {
    width: 450px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

img {
    display: flex;
    width: 25%;
    margin: none;
}

#lead {
    display: flex;
    max-width: 500px;
    color: #fff;
}

.col-6 {
    display: flex;
    flex-direction: row;
    gap: 30px;
    max-width: 800px;
    justify-content: space-between;
}

.collapse {
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 50px;
}


#mainnavbar .navbar-brand {
    color: #ea1c2c;
}

#mainnavbar .navbar-brand:hover {
    color: rgba(255, 192, 1, 0.926);
}


#mainnavbar a {
    font-size: 15px;
}

.nav-link {
    color: rgba(255, 192, 1, 0.926);
}

.nav-link:hover {
    color: #ea1c2c;
}

section {
    background-color: #008181;
    border-radius: 30px;
    margin-bottom: 20px;
    margin-top: 0;
}

.flex {
    display: flex;
}

.flex-2 {
    display: flex;
}

.flex-item {
    flex: 1;
}

form {
    margin-top: 166px;
    padding: 35px;
    flex-direction: column;
    gap: 20px;
}

form .form-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group-wrap {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.form-group-wrap .form-group {
    flex: 1;
}

.form-group label {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 22.9075px;
    line-height: 23px;
    color: rgba(255, 192, 1, 0.926);
}

.form-group textarea,
.form-group input {
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16.0353px;
    line-height: 23px;
    padding: 5px;
}


@media (max-width: 370px) {

    h2 {
        font-size: 30px;
        display: flex;
        width: 300px;
    }

    .create {
        font-size: 20px;
    }

    .everything {
        font-size: 15px;
    }

    .col p {
        font-size: 12px;
        text-align: center;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 120px;
    }

    .get {
        border-radius: 10px;
        width: 150px;
        height: 23px;
        border: 2px solid rgb(0, 100, 0);
        background-color: rgba(255, 192, 1, 0.926);
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #fff;
        border-style: none;
        font-size: 15px;
        font-weight: bold;
    }

    .email,
    .phone {
        width: 200px;
    }


    .container-fluid-px-0,
    .row,
    .col-6,
    .flex,
    .form-group-wrap,
    header,
    .flex-2,
    .start,
    .create-wrap,
    section,
    .col,
    .img-fluid {
        display: flex;
        flex-direction: column;
        width: 330px;
        border-radius: 0;
    }

    .collapse {
        display: flex;
        flex-direction: column;
    }

    header {
        height: 250px;
        gap: 11px;
    }

    .role span {
        font-size: 20px;
    }

    .col-6,
    .container-fluid-px-0 {
        margin-top: 0;
        gap: 0;
        padding-top: 0;
    }

    .flex,
    .col {
        margin-top: 0;
        padding-top: 5px;
        padding-bottom: 10px;
    }

    section,
    .flex-2 {
        padding-bottom: 0;
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        font-size: 10px;
        gap: 10px;

    }


    .navbar-toggler {
        height: 30px;
        width: 80px;
        border-radius: 6px;
    }

    .logo {
        width: 30px;
        height: 30px;
    }

    .row div {
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        padding-left: 20px;

    }


    img,
    .img-fluid,
    .smile {
        width: 330px;
        border-radius: 0;
    }



}